* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-header {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.App-logo {
  height: 4rem;
  padding: 1rem;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.searchBar {
  padding: 2rem;
}
.searchBarForm {
  width: 100%;
  justify-content: center;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.MovieList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
a {
  text-decoration: none;
}

.MovieListItem {
  flex-basis: 20%;
  margin-bottom: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 10rem;
  text-align: center;
  justify-content: center;
  background-color: aliceblue;
  text-decoration: none;
  color: slategray;
}

.detailContainer {
  display: flex;
  flex-wrap: wrap;
}

.detailText {
  padding: 2rem;
  width: 56%;
  list-style: none;
}

.MuiButton-root.buttonAdd {
  width: 100% !important;
  border-radius: 0px;
}

.MuiBottomNavigation-root {
  background-color: aliceblue !important;
  height: 100% !important;
}
.MuiBottomNavigationAction-root {
  margin-right: 1rem !important;
}

.bad__request {
  text-align: center;
}

.MuiAccordionDetails-root {
  flex-direction: column;
}

.loadingProgress {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
